Repository pperycz/edge-ai-suites, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xwu2intel, @ajagadi1, @sugnanprabhu, @rrajore, @sajeevrajput, @vkb1, @sathyendranv, @pooja-intel, @hteeyeoh, @madhuri-rai07, @bharagha, @vagheshp, @ArokiEdgard, @rohitkatakol, @senhui2intel, @Junyu-B, @wzq112358, @myqi, @lijiunderstand, @chaofanchen-intel, @thegreatchaos, @tjanczak, @saratpoluri, @sarthakdeva-intel, @llin60, @Johere, @zhangcong2019, @yogeshmpandey, @bhardwaj-nakul, @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @pperycz, @open-edge-platform/open-edge-platform-docs-write, @kblaszczak-intel, @swpng, @achamuah

.github/CODEOWNERS:

LICENSE            @xwu2intel
CONTRIBUTING.md    @xwu2intel
CODE_OF_CONDUCT.md @xwu2intel
SECURITY.md        @xwu2intel
README.md          @xwu2intel

# manufacturing-ai
/manufacturing-ai-suite/pallet-defect-detection/          @ajagadi1 @sugnanprabhu @rrajore
/manufacturing-ai-suite/weld-porosity/                    @ajagadi1 @sugnanprabhu @rrajore
/manufacturing-ai-suite/industrial-edge-insights-vision/  @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput
/manufacturing-ai-suite/wind-turbine-anomaly-detection/   @vkb1 @sathyendranv @pooja-intel
/manufacturing-ai-suite/hmi-augmented-worker/             @hteeyeoh @madhuri-rai07 @bharagha

# metro-ai
/metro-ai-suite/                                          @rrajore @vagheshp @ArokiEdgard
/metro-ai-suite/image-based-video-search/                 @rrajore @vagheshp @ArokiEdgard @rohitkatakol
/metro-ai-suite/interactive-digital-avatar/               @senhui2intel @Junyu-B @wzq112358 @myqi
/metro-ai-suite/sensor-fusion-for-traffic-management/     @lijiunderstand @chaofanchen-intel @thegreatchaos
/metro-ai-suite/smart-parking/                            @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/smart-intersection/                       @saratpoluri @sarthakdeva-intel
/metro-ai-suite/loitering-detection/                      @vagheshp @tjanczak @xwu2intel
/metro-ai-suite/visual-search-question-and-answering/     @llin60 @Johere @zhangcong2019
/metro-ai-suite/video-processing-for-nvr/                 @zhangcong2019 @llin60 @Johere
/metro-ai-suite/smart-nvr/                                @bharagha @yogeshmpandey @bhardwaj-nakul

# robotics-ai
/robotics-ai-suite/        @jouillet @jb-balaji @pirouf @mohitmeh12 @pperycz


# documentation content - manufacturing-ai
/manufacturing-ai-suite/hmi-augmented-worker/docs                                  @hteeyeoh @madhuri-rai07 @bharagha      @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/hmi-augmented-worker/README.md                             @hteeyeoh @madhuri-rai07 @bharagha      @open-edge-platform/open-edge-platform-docs-write

/manufacturing-ai-suite/industrial-edge-insights-vision/docs/         @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/industrial-edge-insights-vision/README.md     @ajagadi1 @sugnanprabhu @rrajore @sajeevrajput   @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/wind-turbine-anomaly-detection/docs/          @vkb1 @sathyendranv @pooja-intel                 @open-edge-platform/open-edge-platform-docs-write
/manufacturing-ai-suite/wind-turbine-anomaly-detection/README.md      @vkb1 @sathyendranv @pooja-intel                 @open-edge-platform/open-edge-platform-docs-write

# documentation content - media-and-entertainment-ai
# /media-and-entertainment-ai-suite - needs to be defined once content appears

# documentation content - metro-ai
# /metro-ai-suite/holographic-sensor-fusion/docs/               needs to be defined
# /metro-ai-suite/holographic-sensor-fusion/README.md           needs to be defined
/metro-ai-suite/image-based-video-search/docs/                  @rrajore @vagheshp @ArokiEdgard @rohitkatakol      @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/image-based-video-search/README.md              @rrajore @vagheshp @ArokiEdgard @rohitkatakol      @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/docs/                @senhui2intel @Junyu-B @wzq112358 @myqi @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/interactive-digital-avatar/README.md            @senhui2intel @Junyu-B @wzq112358 @myqi @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/loitering-detection/docs/                       @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/loitering-detection/README.md                   @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
# /metro-ai-suite/metro-vision-ai-app-recipe/docs/              needs to be defined
# /metro-ai-suite/metro-vision-ai-app-recipe/README.md          needs to be defined
/metro-ai-suite/sensor-fusion-for-traffic-management/docs/      @lijiunderstand @chaofanchen-intel      @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/sensor-fusion-for-traffic-management/README.md  @lijiunderstand @chaofanchen-intel      @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-intersection/docs/                        @saratpoluri @sarthakdeva-intel         @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-intersection/README.md                    @saratpoluri @sarthakdeva-intel         @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-parking/docs/                             @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/smart-parking/README.md                         @vagheshp @tjanczak @xwu2intel          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/docs/      @llin60 @Johere @zhangcong2019          @open-edge-platform/open-edge-platform-docs-write
/metro-ai-suite/visual-search-question-and-answering/README.md  @llin60 @Johere @zhangcong2019          @open-edge-platform/open-edge-platform-docs-write

# documentation content - robotics-ai
/robotics-ai-suite/docs/                                       @jouillet @jb-balaji @pirouf @mohitmeh12 @kblaszczak-intel @pperycz @swpng @achamuah @open-edge-platform/open-edge-platform-docs-write
/robotics-ai-suite/README.md                                   @jouillet @jb-balaji @pirouf @mohitmeh12 @kblaszczak-intel @pperycz @swpng @achamuah @open-edge-platform/open-edge-platform-docs-write

# documentation content - retail-ai
# /retail-ai-suite/  - needs to be defined once content appears

Update requirements_robot.rst
  robotics-ai-suite/docs/robotics/shared/requirements_robot.rst
Owners: @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @kblaszczak-intel, @pperycz, @swpng, @achamuah, @open-edge-platform/open-edge-platform-docs-write

Update requirements_robot.rst
  robotics-ai-suite/docs/robotics/shared/requirements_robot.rst
Owners: @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @kblaszczak-intel, @pperycz, @swpng, @achamuah, @open-edge-platform/open-edge-platform-docs-write

Update requirements_robot.rst
  robotics-ai-suite/docs/robotics/shared/requirements_robot.rst
Owners: @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @kblaszczak-intel, @pperycz, @swpng, @achamuah, @open-edge-platform/open-edge-platform-docs-write

Update requirements_robot.rst
  robotics-ai-suite/docs/robotics/shared/requirements_robot.rst
Owners: @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @kblaszczak-intel, @pperycz, @swpng, @achamuah, @open-edge-platform/open-edge-platform-docs-write

Update requirements_robot.rst
  robotics-ai-suite/docs/robotics/shared/requirements_robot.rst
Owners: @jouillet, @jb-balaji, @pirouf, @mohitmeh12, @kblaszczak-intel, @pperycz, @swpng, @achamuah, @open-edge-platform/open-edge-platform-docs-write

Cherry-pick [Handheld Multi-Modal Application] Documentation Update (#3274)
  federal-aerospace/docs/README.md
  federal-aerospace/docs/handheld-multi-modal/user-guide/deploy-applications.md
  federal-aerospace/docs/handheld-multi-modal/user-guide/index.md
  federal-aerospace/docs/handheld-multi-modal/user-guide/release-notes.md
Owners: @xwu2intel

Links Update
  federal-aerospace/docs/handheld-multi-modal/user-guide/deploy-applications.md
  federal-aerospace/docs/handheld-multi-modal/user-guide/index.md
  federal-aerospace/docs/handheld-multi-modal/user-guide/release-notes.md
Owners: none

Apply suggestion from @kblaszczak-intel
  federal-aerospace/docs/handheld-multi-modal/user-guide/index.md
Owners: none
